[run]

source = .


omit =
    */migrations/*
    */tests/*
    */templates/*
    */settings.py
    .venv/*
    env/*
    */manage.py


data_file = .coverage

[report]

show_missing = True


skip_covered = True


[html]

directory = htmlcov

[xml]

output = coverage.xml
